@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,900;1,900&family=Young+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --blue-100: hsl(225, 100%, 94%);
    --blue-700: hsl(245, 75%, 52%);
    --blue-50: hsl(225, 100%, 98%);
    --gray-600: hsl(224, 23%, 55%);
    --blue-950: hsl(223, 47%, 23%);
    /* Fonts */
    --font-red-hat: 'Red Hat Display', sans-serif;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;
    --fs-p: 16px;
}

body {
    background-image: url("/images/pattern-background-mobile.svg");
    background-size: 100%;
    font-family: var(--font-red-hat);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 375px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 16px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    border: none;
}

.order-summary {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: var(--fw-500);
}

.description {
    text-align: center;
    color: var(--gray-600);
    font-weight: var(--fw-500);
    line-height: 1.5rem;
    font-size: var(--fs-p);
    padding-bottom: 1rem;
}

.header img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.price {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--blue-50);
    width: 90%;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    font-weight: var(--fw-500);
    border-radius: 14px;
    margin-bottom: 0.5rem;
}

.price img {
    display: flex;
    scale: 110%;
}

.price h2 {
    font-size: var(--fs-p);
    display: flex;
    padding-left: 1rem;
}

.price p {
    align-self: center;
    font-size: var(--fs-p);
    padding-left: 1rem;
    color: var(--gray-600);
}

a {
    display: flex;
    margin-left: auto;
    font-size: var(--fs-p);
}

.payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pay {
    width: 90%;
    background-color: var(--blue-700);
    color: white;
    padding: 1rem;
    border-radius: 10px;
    font-weight: var(--fw-700);
    font-size: 1rem;
    border: none;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.2);
}

.cancel {
    padding: 1rem;
    width: 90%;
    border-radius: 10px;
    background: none;
    color: var(--gray-600);
    border: none;
    font-size: 1rem;
    font-weight: var(--fw-700);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.attribution {
    display: flex;
    font-size: 11px;
    font-family: sans-serif;
}

.attribution a {
    font-size: 11px;
}